#body {
  display: flex;
  background-color: black;
  color: seashell;
  font-family: helvetica;
  font-size: 22px
  opacity: 0.9;
  text-align: center;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  height: 69px;
  align-items: center;
  position: fixed;
  border-bottom: 1px solid seashell;
  flex: auto;
  width: 100%;
  z-index: 1;
  background-color: black;
}
.logo {
  order: 1;
  flex: auto;
  padding-right: 700px;
  padding-left: 10px;
  height: 50px;
}
.nav {
  order: 2;
  flex: auto;
}
.nav span{
  padding: 10px 10px;
}
span {
  text-decoration: underline;
}
.main {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 70px;
  height: 700px;
  width: 1200px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
}
.mission {
  height: 100px;
  margin-top: 300px;
  background-color: black;
  padding-top: 5px;
}
.picbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5px;
  margin: 20px;
}
.one img {
  height: 200px;
  width: 300px;
  margin-right: 10px;
}
.two img {
  height: 200px;
  width: 300px;
  margin: 0 10px;
}
.three img {
  height: 200px;
  width: 300px;
  margin-left: 10px;
}
.four img {
  height: 200px;
  width: 300px;
  margin-right: 10px;
}
.five img {
  height: 200px;
  width: 300px;
  margin-left: 10px;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width:  1200px;
  height: 500px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  padding-bottom: 70px;
}
#title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 1000px;
}
.p-one, .p-two, .p-three {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 300px;
  background-color: black;
  justify-content: center;
  margin-left: 20px;
  opacity: 1;
}
.footer {
  width: 1200px;
  height: 200px;
  align-items: center;
}
.copyw {
  display: flex;
  flex-direction: row;
}
